header, .a{
    background-image: url(/alx_html_css/css_advanced/css-advanced/CSS-Advanced/Object.png);
    margin: 20px;
    padding: 100px;
}
header{
    display: flex;
    flex-direction: row;
  justify-content: space-around;
}

.header-logo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
a {
    color: white;

}
h1, h2, h3{
   text-align: center;
}
.a{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
    color: white;
}


.slogan{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.pros{
display: flex;
flex-direction: row;
justify-content: space-around;
}

.quote{
    padding: 100px;
    background-color: rgb(138, 88, 185);
}
.b{
    display: flex;
    flex-direction: row;
}
.tutorial{
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tutorial-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.small{
    height: 30px;
    width: 50px;
    display: flex;
    flex-direction: row;
}
.rating{
    height: 20px;
    width: 50px;
    display: flex;
    flex-direction: row;
}
.c{
    background-color: rgb(26, 3, 26);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
    color: white;
}
.picsmile{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.faq{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.faq1{
    padding: 100px;
    display: flex;
    flex-direction: column;
}
.faq1-a{
    display: flex;
    flex-direction: row;
}
.faq1-b{
    display: flex;
    flex-direction: row;
}
footer{
    padding: 100px;
    background-color: rgb(26, 3, 26);
    padding: 100px;
    color: white;
    
}
.subfooter{
    display: flex;
    flex-direction: column;
    
}
.subfooter2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logoimage{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
 
