body{
    display: flex;
    flex-direction: column;
}
header{
    background-color: gray;
    font-family: 'Courier New', Courier, monospace;
}

main{
    display: flex;
    flex-direction: row;
    flex:auto;
}

article{
    flex: 2;
    overflow-y: auto;
}

aside{
    flex: 1;
    overflow-y: auto
}
footer{
    border: 100px;
}
